* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #bababa;
}

::-webkit-scrollbar-thumb {
  background-color: #330abb;
}

@keyframes entering {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  color: #0d3f7c;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-areas: "profile timeline";
  grid-template-columns: 1fr 2.75fr;
  grid-template-rows: 100vh;
  background-color: #f1f3f5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 160%;
}

nav {
  padding: 64px;
  grid-area: timeline;

  overflow-y: scroll;

  animation: entering 0.7s ease-in-out;
}

.sobre_mim,
.banners,
.memory,
.projeto {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.redes {
  gap: 2px;
}
.rede,
.redes {
  display: flex;
  text-align: center;
}

.redes p {
  font-size: 16px;
}

.rede {
  gap: 1px;
}

.rede a {
  padding-top: 8px;
  justify-content: center;
}

nav div a {
  text-decoration: none;
  color: #02234a;
  padding: 16px;
  width: 100%;
  border-radius: 8px;
  width: fill;
}

.menu {
  display: flex;
  margin-bottom: 64px;
  background: linear-gradient(#0d0d5a, #04003c, #06012f);
  border: #131011;
}

.menu a {
  text-decoration: none;
  text-align: center;
  padding: 10px;
  color: #eaeaea;
  font-weight: 600;
}

nav div h1,
nav div h2,
nav div p {
  color: #02234a;
  font-size: 2rem;
}

nav div h2 {
  font-size: 1.6rem;
}

nav div p {
  font-size: 1.2rem;
}

.content {
  margin: 16px 0 48px 0;
}

nav button {
  border-radius: 8px;
  background: linear-gradient(#004faf, #001834);
  width: 150px;
  max-height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: #eaeaea;
  padding: 8px;
  border-radius: 8px;
  display: block;
  margin: -12px 0 -12px 0;
  cursor: pointer;
}

nav div p a {
  padding: 0;
}

.resumo_qualificacoes {
  padding: 16px;
  border: solid 1px #79aeef;
  border-radius: 8px;
  display: grid;
  gap: 16px;
  background: linear-gradient(to bottom, #79aeef, #f1f3f5);
  color: #f1f3f5;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

h3 {
  padding-bottom: 12px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
  margin-bottom: 16px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #002c62;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider:before {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

ul {
  list-style-type: none;
  display: block;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  width: 100%;
  padding: 16px;
  border-radius: 18px;
  background-color: #dde5f0;
  border: solid 1px #002c62;
  margin-bottom: 16px;
}

li {
  color: #002c62;
  padding: 10px 16px 10px 16px;
  text-align: left;
  font-size: 16px;
}

.memory {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-decoration: none;
}

.memory small,
.projeto small {
  color: rgb(133, 137, 138);
  font-size: 0.75rem;
}

.memory h1 {
  font-size: 2rem;
  color: #02234a;
}

.memory img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
  border: solid 1px #afc8e7;
  transition: transform 0.3s ease-in-out;
}

.memory div {
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 8px;
}

.memory:hover img {
  transform: scale(1.1);
}

.memory p {
  font-size: 1.2rem;
  color: #02234a;
  line-height: 28px;
}

.memory section {
  display: none;
}

.projeto {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  text-decoration: none;
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.iframe-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: solid 1px #8ca3c0;
  border-radius: 8px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-conteudo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  max-width: 100%;
  max-height: 100%;
  background-color: #f1f3f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

iframe {
  border: solid 1px #8ca3c0;
  border-radius: 8px;
  height: fill;
  width: fill;
}

.fechar {
  position: absolute;
  top: -10px;
  right: -10px;
  color: black;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  padding: 6px 12px 6px 12px;
  background-color: white;
  border-radius: 8px;
  border: solid;
}

.fechar:hover,
.fechar:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

aside {
  grid-area: profile;
  background: linear-gradient(#000061, #04003d, #05002c);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  gap: 50px;
  padding: 64px 16px 16px 16px;
  border-right: solid 1px;
}

aside * {
  animation: entering 0.7s ease-in-out;
}

aside div div a {
  text-decoration: none;
}

aside .foto_perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid transparent;
  background: linear-gradient(270deg, #ffffff, #eaeaea) border-box;
}

aside p {
  font-size: 1.7rem;
  color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  text-shadow: black;
}
aside p small {
  font-size: 1rem;
}

.tags {
  display: inline-block;
}

small.tag {
  padding: 6px;
  border-radius: 8px;
  vertical-align: middle;
  width: fit-content;
}

small.graduacao,
small.tipo-de-projeto {
  color: #431ce3;
  border: solid 1px #431ce3;
}

small.programa,
small.pleno,
small.linguagem,
small.senioridade {
  color: #0073ff;
  border: solid 1px #0073ff;
}

small.curso {
  color: #144b8e;
  border: solid 1px #144b8e;
}

small.bootcamp {
  color: #04003d;
  border: solid 1px #04003d;
}

@media (max-width: 1080px) {
  :root {
    font-size: 14px;
  }

  body {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas:
      "profile"
      "timeline";
  }

  aside {
    border-right: none;
    padding: 32px 12px;
  }

  nav {
    overflow-y: visible;
    padding: 22px;
  }
}

@media (max-width: 480px) {
  nav button {
    width: 100%;
    display: block;
    max-height: none;
    margin: 0 0 16px 0;
  }

  li {
    color: #002c62;
    padding: 10px 2px 10px 2px;
    text-align: left;
    font-size: 16px;
  }

  aside {
    gap: 8px;
  }
}
