/* Para resetar o espaçamento e preenchimento (margin e padding) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #8a67ff;
}

::-webkit-scrollbar-thumb {
  background-color: #330abb;
}

@keyframes entering {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body{
  color: #0d3f7c;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-areas: "profile timeline";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100vh;
  background: url("assets/fundo_1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 160%;
}

nav {
  padding: 64px;
  grid-area: timeline;

  overflow-y: scroll;

  animation: entering 0.7s ease-in-out;
}

.sobre_mim, .banners, .memory, .projeto {
  margin-bottom: 8px;
  padding: 32px;
  border-radius: 8px;
  border: solid 1px #8ca3c0;
  background-color: #f1f3f5;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.redes {
  gap: 0;
}
.rede, .redes {
  display: flex;
  text-align: center;
}

.redes p {
  font-size: 16px;
}

.rede {
  padding: 0 px 0 px;
  border-radius: 8px;
  justify-content: center;
  text-align: center;
  gap: 2px;
}

nav div a {
  text-decoration: none;
  color: #0d3f7c;
  padding: 16px;
  width: 100%;
  border-radius: 8px;
  width: fill;
}

.menu {
  display: flex;
  margin-bottom: 64px;
  background: linear-gradient(#0d0d5a, #04003c, #06012f);
  border: #131011;
}

.menu a {
  text-decoration: none;
  text-align: center;
  padding: 10px;
  color: #eaeaea;
  font-weight: 600;
}

nav div h1, nav div p {
  color: #0d3f7c;
  font-size: 2rem;
}

nav div p{
  font-size: 1.2rem;
}

.content {
  margin: 16px 0 48px 0;
}

nav div button {
  border-radius: 8px;
  background: linear-gradient(#004faf, #002c62);
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #eaeaea;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

nav div p a {
  padding: 0;
}

ul {
  list-style-type: none;
  background-color: #eaeaea;
  border: 1px solid #cecce2;
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
}

li {
  margin-top: 0px;
  color: #002c62;
  background-color: #ffffff;
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  text-align: left;
  font-size: 16px;
  border: 1px solid #104990;
}

.memory {
  display: flex;
  flex-direction: column;
  gap: 16px;

  text-decoration: none;
}

.memory small{
  color: rgb(133, 137, 138); 
  font-size: 0.75rem;
}

.memory h1 {
  font-size: 2rem;
  color: #0d3f7c;
}

.memory img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
  border: solid 1px #8ca3c0;
  transition: transform 0.3s ease-in-out;
}

.memory div {
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 8px;
}

.memory:hover img {
  transform: scale(1.1);
}

.memory p {
  font-size: 1.2rem;
  color: #4980c4;
  line-height: 28px;
}

.memory section {
  display: none;
}

.projeto {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  text-decoration: none;
}

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.iframe-wrapper {
    position: relative;
    width: 100%; 
    padding-bottom: 56.25%;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 1px #8ca3c0;
    border-radius: 8px;
}

aside{
  grid-area: profile;
  background: #001632;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  border-right: solid 1px ;
  border-radius: 0 10px 10px 0;
}

aside * {
  animation: entering 0.7s ease-in-out;
}

aside div div a {
  text-decoration: none;
}

aside .foto_perfil {
  width: 160px;
  height: 160px;
  border-radius: 50%;

  border: 3px solid transparent;
  background: linear-gradient(270deg, #ffffff, #eaeaea) border-box;
}

aside p{
  font-size: 1.7rem;
  color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  text-shadow: black;
}
aside p small {
  font-size: 1rem;
}

@media (max-width: 1080px) {
  :root {
    font-size: 14px;
  }

  body {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas: 
    "profile"
    "timeline";
  }

  aside {
    border-right: none;
    padding: 32px 12px;
  }

  nav {
    overflow-y: visible;
    padding: 22px;
  }
}