* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #bababa;
}

::-webkit-scrollbar-thumb {
  background-color: #330abb;
}

@keyframes entering {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  color: #0d3f7c;
  font-family: "Roboto", sans-serif;
  display: grid;
  background-color: #f1f3f5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 160%;
  grid-template-areas:
    "profile"
    "timeline";
  overflow-y: visible;
}

main {
  padding: 32px 64px;
  grid-area: timeline;

  animation: entering 0.7s ease-in-out;
}

.sobre_mim,
.banners,
.memory,
.projeto {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.redes {
  gap: 2px;
}
.rede,
.redes {
  display: flex;
  text-align: center;
}

.redes p {
  font-size: 16px;
}

.rede {
  gap: 1px;
}

.rede a {
  padding-top: 8px;
  justify-content: center;
}

main div a {
  text-decoration: none;
  color: #02234a;
  padding: 16px 0;
  width: 100%;
  border-radius: 8px;
  width: fill;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  background: linear-gradient(#0d0d5a, #04003c, #06012f);
  border: #131011;
  gap: 16px;
}

.menu a {
  text-decoration: none;
  text-align: right;
  padding: 16px;
  color: #eaeaea;
  font-weight: 600;
  width: auto;
}

main div h1,
main div h2,
main div p {
  color: #02234a;
  font-size: 2rem;
}

main div h2 {
  font-size: 1.6rem;
}

main div p {
  font-size: 1.2rem;
}

.content {
  margin: 16px 0 48px 0;
}

.modal-content a:hover,
.rede:hover {
  background-color: #2087e0;
  color: #eaeaea;
  border-radius: 8px;
}

.menu a:hover {
  color: #4298e4;
}

main button {
  border-radius: 8px;
  background: linear-gradient(#2087e0, #003470);
  width: 120px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #eaeaea;
  padding: 8px;
  display: block;
  margin: 0;
  cursor: pointer;
}

main button:hover {
  background: linear-gradient(#005fd4, #001a39);
}

main div p a {
  padding: 0;
}

.resumo_qualificacoes {
  padding: 16px;
  border: solid 1px #79aeef;
  border-radius: 8px;
  display: grid;
  gap: 16px;
  background: linear-gradient(to bottom, #79aeef, #f1f3f5);
  color: #f1f3f5;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

label {
  padding-bottom: 12px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
  margin-bottom: 16px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #002c62;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider:before {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

ul {
  list-style-type: none;
  display: block;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  width: 100%;
  padding: 16px;
  border-radius: 18px;
  background-color: #dde5f0;
  border: solid 1px #002c62;
  margin-bottom: 16px;
}

li {
  color: #002c62;
  padding: 10px 16px 10px 16px;
  text-align: left;
  font-size: 16px;
}

.memory {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-decoration: none;
}

.memory small {
  color: rgb(133, 137, 138);
  font-size: 0.75rem;
}

.memory h1 {
  font-size: 2rem;
  color: #02234a;
}

.memory img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
  border: solid 1px #dfe6ee;
  transition: transform 0.3s ease-in-out;
}

.memory div {
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 8px;
}

.memory:hover img {
  transform: scale(1.1);
}

.memory p {
  font-size: 1.2rem;
  color: #02234a;
  line-height: 28px;
}

.memory section {
  display: none;
}

.projeto {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  text-decoration: none;
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.iframe-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: solid 1px #8ca3c0;
  border-radius: 8px;
}

iframe {
  border: solid 1px #8ca3c0;
  border-radius: 8px;
  height: fill;
  width: fill;
}

.fechar {
  position: absolute;
  top: -10px;
  right: -10px;
  color: black;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  padding: 6px 12px 6px 12px;
  background-color: white;
  border-radius: 8px;
  border: solid;
}

.fechar:hover,
.fechar:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

header {
  grid-area: profile;
  background: linear-gradient(#000061, #04003d, #05002c);
  display: flex;
  align-items: center;
  justify-content: top;
  padding: 32px 64px;
  border-right: solid 1px;
  border-right: none;
  flex-direction: row;
  justify-content: space-between;
  border-right: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header * {
  animation: entering 0.7s ease-in-out;
}

header div div a {
  text-decoration: none;
}

header .foto_perfil {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 3px solid transparent;
  background: linear-gradient(270deg, #ffffff, #eaeaea) border-box;
}

header p {
  font-size: 1.7rem;
  color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  text-align: left;
  text-shadow: black;
}
header p small {
  font-size: 1rem;
}

.tags,
.ver-projeto {
  display: inline-block;
  margin-top: 8px;
}

small.tag {
  padding: 6px;
  border-radius: 8px;
  width: fit-content;
}

small.graduacao,
small.tipo-de-projeto {
  color: #431ce3;
  border: solid 1px #431ce3;
}

small.programa,
small.pleno,
small.linguagem,
small.senioridade {
  color: #0073ff;
  border: solid 1px #0073ff;
}

small.curso {
  color: #144b8e;
  border: solid 1px #144b8e;
}

small.bootcamp,
small.ferramenta {
  color: #04003d;
  border: solid 1px #04003d;
}

.cabeçalho-perfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.menu-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #f1f3f5;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  max-width: 300px;
  position: relative;
}

.modal-content a {
  display: block;
  color: #02234a;
  padding: 10px;
  text-decoration: none;
  font-weight: 600;
  margin: 10px 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.menu-icone {
  display: none;
}

.img-em-construcao {
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.em-construcao {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  padding: 8px 64px 64px 64px;
}

footer div {
  display: flex; /* Para garantir que o botão ocupe a linha toda e se alinhe à direita */
  justify-content: flex-end; /* Empurra o botão para o final (direita) */
}

.container-filtro {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
  position: relative;
}

.titulo-e-filtro {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.botao-filtro {
  padding: 10px 15px;
  width: 50px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtrar {
  width: 15px;
}

/* Estilos para o modal */
.modal-filtro {
  display: none;
  position: absolute;
  top: 100%; /* para posicionar abaixo do botão */
  right: 0; /* alinhar com o botão */
  width: 300px;
  padding: 24px 24px 32px 24px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 5px;
  gap: 16px;
}

.opcoes-filtro h4 {
  margin-top: 16px;
  margin-bottom: 8px;
  gap: 64px;
}

.categoria {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.opcao {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #007bff;
  border-radius: 3px;
  color: #007bff;
  transition: background-color 0.3s, color 0.3s;
}

.opcao.selecionado {
  background-color: #007bff;
  color: #fff;
}

#botaoAplicarFiltro {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btnTopo {
  border: none;
  border-radius: 8px;
  color: #eaeaea;
  background: linear-gradient(#072448, #021225);
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
  display: block;
  margin: -12px 0;
  cursor: pointer;
}

.btnTopo:hover {
  background: linear-gradient(#12122e, #01060c);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px; /* Espaçamento entre os itens */
}

.item {
  background-color: #dde5ee;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100px; /* Defina a altura desejada */
  border-radius: 8px;
}

@media (max-width: 825px) {
  li {
    color: #002c62;
    padding: 10px 2px 10px 2px;
    text-align: left;
    font-size: 16px;
  }

  header {
    grid-area: profile;
    background: linear-gradient(#000061, #04003d, #05002c);
    display: flex;
    align-items: left;
    justify-content: top;
    gap: 32px;
    padding: 16px 24px;
    border-right: solid 1px;
  }

  main {
    padding: 32px 24px 0 24px;
  }

  footer {
    padding: 24px 24px 64px 24px;
  }

  img.foto_perfil {
    width: 42px;
    height: 42px;
  }

  .redes {
    display: none;
  }

  .menu {
    display: none;
  }

  .menu-icone {
    display: flex;
    cursor: pointer;
  }

  header p {
    font-size: 16px;
  }

  header p strong {
    font-size: 18px;
  }

  .social-icons {
    background-color: #002c62;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 8px;
    padding: -4px;
  }
}
